body {
  font-family: "Open Sans", sans-serif;
  background-image: url("https://images.pexels.com/photos/518389/pexels-photo-518389.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.song-list-wrapper {
  display: flex;
  flex-direction: row;
  font-family: "Open Sans", sans-serif;
  justify-content: space-evenly;
  padding-top: 20px;
}

#song-list {
  border: 1px solid white;
  padding-right: 80px;
  color: white;
  background-color: #333;
  padding-bottom: 40px;
}

#song-list-title {
  text-align: center;
}

#song-details {
  border: 1px solid white;
  height: 400px;
  width: 400px;
  text-align: center;
  background-color: #333;
  color: white;
}

a {
  color: #333;
  text-decoration: none;
  background-color: goldenrod;
  padding: 1px 1px;
  border: 1px solid black;
}

a:hover {
  background-color: white;
}

#header {
  display: flex;
  background-color: white;
  padding-left: 20px;
  flex-direction: row;
  background-color: #333;
  color: white;
  align-items: flex-start;
}

#tag {
  padding-left: 50px;
}

ul > li {
  list-style-type: none;
  padding: 5px 5px;
  border: 1px solid white;
}

ul {
  align-items: center;
}
